@import "tailwindcss";

@theme {
    --color-hot-pink: #FF007F;
    --color-dark-pink: #D4006A;
    --color-dark-gray: #1A1A1A;
    /* رمادي غامق جداً للخلفية */
    --color-medium-gray: #2D2D2D;
    /* رمادي للمربعات والحدود */
    --color-deep-black: #000000;
}

body {
    @apply bg-dark-gray text-white;
    /* الخلفية أصبحت رمادي غامق والنصوص بيضاء */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}